.product {
  margin-top: 2.5rem;

  .product-box {
    max-width: 250px;
    margin: auto;

    .picture {
      width: 100%;
      margin: auto;
      height: 270px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .infos {
      .title {
        margin-top: 0.8rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--color-green);
      }

      div {
        position: relative;

        .quantity {
          color: gray;
          font-size: 0.7rem;
          position: absolute;
          top: 5px;
          right: 0;
        }
      }
    }

    button {
      width: 100%;
      margin-top: 1rem;
      border-radius: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
