.product {
  .product-box {
    max-width: 300px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;

    .picture {
      width: 100%;
      margin: auto;
      height: 270px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .infos {
      position: relative;

      .title {
        margin-top: 1rem;
        padding-right: 75px;
        font-weight: bold;
      }
      .quantity {
        color: gray;
      }
      .price {
        position: absolute;
        top: 1.05rem;
        right: 0rem;
        font-weight: bold;
      }
    }
  }
}
