.login-container {
  padding: 1rem;
  text-align: center;
  max-width: 32rem;
  margin: auto;
}

.login-title {
  font-size: 2.5rem;
  color: var(--color-green);
  margin-bottom: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;

  .form-input {
    position: relative;

    label {
      position: absolute;
      font-weight: bold;
      font-size: 1rem;
      text-align: left;
      top: -25px;
      color: black;
    }

    input {
      margin-bottom: 2rem;
      padding: 10px;
      font-size: 16px;
      outline: none;
      width: 100%;
    }
  }

  .identif-error {
    margin-top: -1.63rem;
    margin-bottom: 0.3rem;
    color: var(--color-red);
    font-size: 0.9rem;
  }

  button {
    margin: auto;
    width: 100%;
  }
}

.option {
  margin-top: 1.3rem;

  .forget-password {
    font-size: 0.8rem;
    text-align: left;
    cursor: pointer;
    margin-right: 1rem;
  }

  .new-account {
    margin-top: 0.6rem;
    font-size: 0.8rem;
    text-align: left;
    cursor: pointer;
  }
}
