.list-products {
  padding: 50px 0;

  .product-box {
    height: 325px;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 992px) {
      height: 250px;
    }

    @media screen and (max-width: 576px) {
      padding: 0 40px;
    }

    @media screen and (max-width: 400px) {
      padding: 0 0px;
    }

    .picture-wait {
      border: 1px solid rgb(226, 226, 226);
      height: 100%;
      border-radius: 10px;
      background: rgb(226, 226, 226);
    }

    .picture {
      border-radius: 10px;

      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: 0.3s;

      &:hover {
        scale: 1.05;
        cursor: pointer;
      }

      .box-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        .text {
          position: absolute;
          bottom: 1.1rem;
          font-size: 1.5rem;
          text-shadow: 0 0 10px rgb(174, 173, 173);
          color: white;
        }
      }
    }
  }
}
