.list-products {
  padding: 50px 0;

  .product-box {
    height: 400px;
    margin-bottom: 1.5rem;

    @media screen and (max-width: 1400px) {
      height: 350px;
    }

    @media screen and (max-width: 1200px) {
      height: 300px;
    }

    @media screen and (max-width: 992px) {
      height: 220px;
    }

    @media screen and (max-width: 768px) {
      height: 360px;
      padding: 0 30px;
    }

    @media screen and (max-width: 637px) {
      padding: 0 0px;
    }

    @media screen and (max-width: 576px) {
      padding: 0 130px;
    }

    @media screen and (max-width: 540px) {
      padding: 0 110px;
    }

    @media screen and (max-width: 510px) {
      padding: 0 0px;
    }

    .picture-wait {
      border: 1px solid white;
      height: 100%;
      border-radius: 10px;
    }

    .picture {
      border-radius: 10px;

      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: 0.3s;

      &:hover {
        transform: scale(1.03);
        cursor: pointer;
      }

      .box-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        .text {
          position: absolute;
          bottom: 1.1rem;
          font-size: 1.4rem;
          text-shadow: 0 0 10px rgb(174, 173, 173);
          color: white;
          text-align: center;

          @media screen and (max-width: 1400px) {
            font-size: 1.3rem;
          }

          @media screen and (max-width: 1200px) {
            font-size: 1.1rem;
          }

          @media screen and (max-width: 992px) {
            font-size: 1rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 1.3rem;
          }

          @media screen and (max-width: 510px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
