.gestion-categorie {
  margin-top: 2rem;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .categorie-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .categorie-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}
