.spinner {
  .spinner-center-page,
  .spinner-center-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner-center-page {
    height: 50vh;
  }

  .spinner-center-div {
    height: 80%;
  }
}
