.presentation {
  margin-top: 3rem;
  position: relative;
  height: max-content;

  .title {
    font-size: 3.5rem;
    font-weight: bold;

    p {
      margin-bottom: -0.9rem;
    }
  }

  .description {
    margin-top: 3rem;
    color: var(--color-blue);

    p {
      margin-bottom: 0.2rem;
    }
  }

  button {
    margin-top: 3rem;
    width: 13rem;
    height: 3.5rem;

    svg {
      margin-top: -5px;
      margin-right: 10px;
    }
  }
}
