.profil {
  margin-top: 2.5rem;

  .title {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-green);
  }

  .title-password {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color-red);
  }

  .profil-box > :first-child {
    margin-bottom: 2.5rem;
  }

  .profil-box {
    box-shadow: 3px 3px 10px grey;
    padding: 1.5rem;
    border-radius: 5px;

    .profil-form {
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;

      .form-phone {
        margin-top: -1.5rem;
        .form-control {
          margin-bottom: 2.2rem !important;
          width: 100% !important;
        }
      }

      .form-input {
        position: relative;

        label {
          position: absolute;
          font-size: 1rem;
          text-align: left;
          top: -25px;
          color: black;
        }

        input {
          margin-bottom: 2.2rem;
          padding: 10px;
          font-size: 16px;
          outline: none;
          width: 100%;
        }

        .form-control {
          margin-bottom: 2.2rem !important;
          width: 100% !important;
        }

        .input-error {
          border: 1px solid red;
        }
      }

      .signup-error {
        margin-top: -1.9rem;
        margin-bottom: 0.65rem;
        color: var(--color-red);
      }

      button {
        margin: auto;
        width: 100%;
        margin-top: -1rem;
      }
    }
  }
}
