.gestion-categorie {
  margin-top: 2rem;

  input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 200px;
  }

  .categorie-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .categorie-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}
