.footer {
  margin-top: 1rem;
  color: white;
  text-align: center;
  background-color: #163114;
  display: flex;
  flex-flow: column nowrap;
}

.social-links {
  margin-top: 5px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;

  svg {
    transition: 0.3s;

    &:hover {
      scale: 1.1;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 1.2rem;
  }
  .footer small {
    font-size: 1rem;
  }

  .footer a {
    font-size: 1.5rem;
  }
}
