.about {
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;

  background-color: #d5ecd2;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 1.9rem;
  padding-left: 2rem;
  padding-right: 2rem;

  .box-picture {
    height: 100%;
    padding-right: 1rem;

    .picture {
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom right;
    }

    @media screen and (max-width: 992px) {
      .picture {
        background-position: 75%;
      }
    }

    @media screen and (max-width: 768px) {
      .picture {
        display: none;
      }
    }
  }

  .info {
    .title {
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }

    .text {
      line-height: 1.6rem;
      color: #333333;
    }

    .space-text {
      margin-top: 0.6rem;
    }
  }
}
