.reset-password {
  margin-top: 2rem;

  .reset-password-form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .identif-error {
      margin-top: -0.2rem;
      margin-bottom: 0.4rem;
      color: var(--color-red);
      font-size: 0.9rem;
      text-align: center;
    }
  }
}
