.product-details {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  box-shadow: 3px 3px 10px rgb(171, 171, 171);
  border-radius: 10px;
  padding: 1rem;

  .block-img {
    .list-picture {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 8px;

      .select-picture {
        scale: 0.9;
        cursor: pointer;
        height: 100%;
        border-radius: 5px;
        width: 50px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .this-pic {
        scale: 1.1;
      }
    }

    .picture {
      margin: auto;
      width: 100%;
      height: 550px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    @media screen and (max-width: 1400px) {
      .picture {
        height: 450px;
      }
    }

    @media screen and (max-width: 1200px) {
      .picture {
        height: 400px;
      }
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 1rem;

      .picture {
        height: 350px;
        width: 260px;
      }
    }
  }

  .block-info {
    padding: 0rem 1rem;
    position: relative;

    .info {
      margin-bottom: 4.5rem;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .price {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-blue-dark);
        display: flex;

        .stock {
          margin-top: 7px;
          margin-left: 9px;
          font-weight: normal;
          font-size: 0.7rem;
          margin-bottom: 1rem;
          color: var(--color-blue);
        }
      }

      .description {
        margin-top: 0.8rem;
        font-size: 0.9rem;
      }

      .option-personnalisation {
        .line {
          height: 1px;
          width: 80%;
          background-color: black;
          margin: auto;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }

        .option-title {
          color: var(--color-blue-dark);
          margin-bottom: 1rem;
          margin-bottom: 2rem;
        }

        .form-input {
          position: relative;

          label {
            position: absolute;
            font-size: 0.8rem;
            text-align: left;
            color: black;
            top: -24px;
          }

          input {
            margin-bottom: 2.2rem;
            padding: 10px;
            font-size: 16px;
            outline: none;
            max-width: 200px;
            width: 100%;
          }

          .box-fabric {
            .show-fabric {
              width: 40px;
              height: 40px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              border-radius: 50px;
              margin-bottom: 10px;
              cursor: pointer;
              transition: 0.3s;

              &:hover {
                scale: 1.2;
              }
            }

            .show-fabric-selected {
              scale: 1.2;
              border-radius: 0px;
            }

            @media screen and (max-width: 992px) {
              margin-bottom: 2rem;
            }

            @media screen and (max-width: 380px) {
              .show-fabric {
                width: 35px;
                height: 35px;
              }
            }
          }
        }
      }
    }

    .add-cart {
      position: absolute;
      bottom: 0;

      .box-btn {
        position: relative;
        margin-top: 1rem;

        .cart-add-animation {
          position: absolute;
          top: 0px;
          right: 2px;
          padding: 8px;
          background-color: var(--color-green);
          border-radius: 50%;
        }
        .animation-start {
          position: absolute;
          transform-origin: center;
          animation: rise 0.8s ease-in-out forwards;
        }
      }

      .btn-success {
        margin-left: 0.5rem;
      }
    }
  }
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scale(0.6);
    opacity: 0;
  }
}
