.admin {
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .btn-admin {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input,
  select {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 200px;
  }
}
